    <div class="controls fixed_digest_emails">
      {{preference-checkbox labelKey="user.fixed_digest_emails.title" checked=model.custom_fields.fixed_digest_emails}}
    </div>
    <div class="instructions">{{i18n 'user.fixed_digest_emails.instructions'}}</div>