    <div class="controls fixed_digest_deliveries">
      <label>{{i18n 'user.fixed_digest_deliveries.title'}}</label>
      {{list-setting settingValue=model.custom_fields.fixed_digest_deliveries choices=deliveryChoices settingName='fixed_digest_deliveries'}}
    </div>
    <div class="instructions">{{i18n 'user.fixed_digest_deliveries.instructions'}}<br />
    <ul>
      <li>0800 =>  8:00a</li>
      <li>0900 =>  9:00a</li>
      <li>1000 => 10:00a</li>
      <li>1100 => 11:00a</li>
      <li>1200 => 12:00p</li>
      <li>1300 =>  1:00p</li>
      <li>1400 =>  2:00p</li>
      <li>1500 =>  3:00p</li>
      <li>1600 =>  4:00p</li>
    </ul>
    </div>
